/* @tailwind base;
@tailwind components;
@tailwind utilities; */

nav,.mn{
  display: flex;
  justify-content: space-around;
  min-height: 6rem;
  align-items: center;
  margin: 2rem;
  border:  1px solid black;
}
.cc{
  background-color: lightblue;
}

a{
  color: cadetblue;
}

.ip{
  min-width: 14rem;
  min-height: 2rem;
}


